[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "==7.1.1"
Flask = "==2.0.3"
coverage = "6.3.2"

[dev-packages]
pytest = "==7.1.1"

[requires]
python_version = "3.9"
